body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.card {
    padding: 0px;
}

.nav-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.logo {
  width: 60px;
  height: 40px;
}

.title {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.vertical-bar {
  height: 100%;
  background-color: black;
}